body {
  background-color: antiquewhite;
}
.intro-card {
  width: 100%;
}
.house-div {
  display: flex;
  flex-wrap: wrap;
}
.expelled {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: x-large;
}
.student-card {
  max-height: 150px;
  max-width: 320px;
  font-size: smaller;
  margin: 4px;
}

.card-text {
  margin: 4px, 0px;
}
