body {
  background-color: antiquewhite;
}
.intro-card {
  width: 100%;
}
.house-div {
  display: flex;
  flex-wrap: wrap;
}
.houses-fltr-div {
  display: flex;
  flex: 1;
}
h1 {
  max-height: 60px;
}
